<nav>
    <strong><%= link_to 'Homepage', root_path, class:"navbar-brand" %> &nbsp &nbsp</strong>
    <strong><%= link_to "Members", home_members_path, class: "nav-link"%> &nbsp &nbsp</strong>
     <strong><%= link_to "Vendors", home_vendors_path, class: "nav-link"%></strong>
</nav>